*,*:before, *:after {
  box-sizing: border-box;
}

body {
    font-size: 18px;
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    background-color: #F8FAFE;
}
.content {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 50px;
}
a {
    color: #008CF0;
    text-decoration: none;
}
/*Хедер*/
.header {
    position: fixed;
    margin: 0 auto;
    padding: 0px 50px;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #010541;
    background: #F8FAFE;
    opacity: 80%;
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    width: 100%;
    padding: 0 50px;
    position: fixed;
    inset: auto 0;
}
.header__icon {
    position: relative;
    cursor: pointer;
    right: 10px;
}
.header__icon-link { 
    padding-right: 20px;
}
.header__icon-link svg{
    width: 44px;
    height: 35px;
}
.header__icon_cart svg{
    width: 42px;
    height: 41px;
}
.header__icon-link:hover svg path {
    fill: #F36223;
}
.header__icon_cart:hover svg path {
    fill: #F36223;
}
.header__icon-cart-counter, .header__icon-link-counter {
    position: absolute;
    top: -5px;
    left: calc(100% - 11px);
    padding: 3px 5px;
    border-radius: 10px;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    background: #F36223;
}
.header__icon-link-counter {
    left: calc(100% - 81px);
}

.counter__empty {
    display: none;
}
.logo {
    margin: 0;
    font-weight: 700;
    line-height: 53px;
    font-size: 44px;
    padding: 19px 0 13px 0;
}
.logo__image {
    height: 43px;
}
.logo__name {
    
    color: #FF5722;
}
/* Хлебные крошки */
.breadcrumbs {
    display: flex;
    align-items: center;
    padding: 88px 0px 8px 0px;
    gap: 4px;
}
.breadcrumbs__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #008CF0;
    text-decoration: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* Фотографии товара */
.mobile__title {
    padding: 0px 0px 30px;
    margin: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color:#000000;
}
.mobile__image {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px;
    gap: 10px;
    margin-bottom: 30px;
}
.mobile__image img {
    height: 387px;
}
.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px;
    gap: 100px;
    margin-bottom: 100px;
}
/* Цвет товара */
.container__characterisric {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 30px;
    /*max-width: 880px;*/
    order: 0;
    flex-grow: 1; 
}
.characteristic__name{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 0;
    margin-bottom: 15px;
}
.characteristic__list {
    display: flex;
    padding: 0px;
    gap: 10px;
    margin: 0;
}
.characteristic__btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.characteristic__btn label {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 1px solid #888888;
    border-radius: 4px;
}
.characteristic__btn img {
    height: 60px;
} 
.characteristic__btn input[type=radio] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}


/* Конфигурация памяти */
.config {
    display: flex;
    flex-flow: column wrap;
}
.config__title {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 15px;
}
.config__list {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    gap: 10px;
    padding: 0;
    margin: 0;
}
.config__btn {
    list-style-type: none;
}
.config__label {
    display: inline-block;
    list-style-type: none;
    padding: 10px 20px;
    border: 1px solid #888888;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    background-color: transparent;
}
.config__btn input[type=radio] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* Характеристики товара */
.functions__title{
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
}
.functions__list{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    gap: 10px;
}
.functions__point{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.functions__list {
    list-style-type: none;
    padding-left: 0px;
}
.functions__point:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #888888;
    margin-right: 10px;
    border-radius: 50%;
  }
/* Описание */
.description__title{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
    margin-bottom: 15px;
}
.description__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
p {
    margin: 0;
}
/*Таблица*/
.comparison-model__wrapper {
    padding-bottom: 20px;
}
.comparison-model__table{
    box-sizing: border-box;
    border: 1px solid #888888;
    border-right: none;
    border-collapse: collapse;
    padding: 0;
}
.comparison-model__title{
    margin: 0;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.comparison-model__table th{
    padding: 10px 9px;
    border-bottom: 1px solid #888888;
    border-right: 1px solid #888888;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.comparison-model__table td {
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border-right: 1px solid #888888;
}    
.comparison-model__row:hover {
    background:#F2F2F2;
    cursor: pointer;
}
/* Сайдбар */
.saidbar{
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 40px;
    order: 1;
    flex-grow: 0;
    
}
/* Сайдбар важное */
.important {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.important__price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}
.important-old {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 10px;
}
.important-old__prise{
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: #888888;
}
.old-price__sale {
    align-items: center;
    gap: 10px;
    background: #F36223;
    border-radius: 500px;
}
.old-price__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 4px 8px;
}
.important__actual {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}
.important-delivery {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}
.important-delivery__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.important__wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.bold-text{
    font-weight: bold;
}
.important-btn {
    display: flex;
    width: 100%;
}
.important-btn__btn {
    display: flex;
    gap: 17px;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    width: 100%;
    background: #F36223;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
} 
.important-btn__add {
    background: #888888 !important;
}

.important__wish-list {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.important__wish label svg {
    cursor: pointer;
}
.important__wish input:hover+label svg path {
    fill: #F36223;
  }
  
.important__wish input:active+label svg path {
    fill: #A93A09;
  }
  
.important__wish input:checked+label svg path {
    fill: #A93A09;
  }
/* Сайдбар реклама */
.adversiting {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 10px;
}
.adversiting__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
}
.adversiting__post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
}
.adversiting__item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 420px;
    height: 300px;
    background: #F0F0F0;
    border: 1px dashed #888888;
}
 /* секция с отзывами */
.review-section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.review-section__wrapper {
    display: flex;
    gap: 10px;
}
.review-section__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.review-section__number {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #888888;
}
/*.review-section__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 20px;
    border: 1px solid #888888;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
} */
.review-section__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0;
    margin: 0;
}
/*Отзыв*/
.review {
    display: flex;
    gap: 30px;
}
.review__content {
    width: 100%;
    padding-bottom: 40px;
    border-bottom: 1px dashed #888888;
}
.review:last-child .review__content {
    padding-bottom: 0;
    border-bottom: none;
}
.review__photo {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 50%;
}
.review__name {
    margin: 0;
    margin-bottom: 10px;
}
.review__rating {
    margin-bottom: 20px;
}
.review__parameters {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.review__parameter {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.review__word {
    display: block;
    font-weight: 700;
}
.review-section__indent {
    margin-bottom: 30px;
}
/*Звезды рейтинга*/
.review-rating{
    display: flex;
}
.review-rating__items {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    padding: 0;
    padding-bottom: 20px;
}
.review-rating__items input {
    position: absolute;
    clip: rect(0,0,0,0);
}
.review-rating__items label {
    box-sizing: border-box;
    display: inline-block;
    background: no-repeat url("../images/Stargrey.png");
    height: 30px;
    width: 30px;
    font-size: 0;
    cursor: pointer;
}
.review-rating__items label:hover, .review-rating__items label:hover ~ label {
    background: no-repeat url("../images/Stargold.png");
    background-size: cover;
}
.review-rating__items input:checked, .review-rating__items input:checked ~ label {
    background: no-repeat url("../images/Stargold.png");
    background-size: cover;
}

/*Форма отзывов*/
.form{
    position: relative;
    padding-left: 170px;
}
.form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}
.form__title{
    font-size: 16px;
    line-height: 19px;
    margin: 0;
    padding-bottom: 15px;
}

.form__data, .form__error {
    display: flex;
    gap: 40px;
    width: 100%;
    
}
.form__name,.form__rating, .form__review, .error__name, .error__rating{
    padding: 15px 20px;
    border: 1px solid #888888;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.error__name, .error__rating {
    background: #DA4A0C;
    opacity: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    min-height: 40px;
    padding: 8px 20px;
}
.form__input-name {
    width: 100%;
}
.form__name {
    width: 100%;
}
/* 
.form__name, .error__name{
    width: 75%;
}
.form__rating, .error__rating{
    width: 25%;
} */

.form__name::placeholder, .form__rating::placeholder, .form__review::placeholder {
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #888888;
}
.form__name:hover, .form__rating:hover, .form__review:hover {
    border: 1px solid #000000;
}
.form__review {
    resize: none;
    width: 100%;
    height: 190px;
    margin-bottom: 30px;
}
.form__btn {
    font-family: 'Inter',sans-serif;
    padding: 10px 20px;
    background: #F36223;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: none;
}
.error {
    border: 1px solid #DA4A0C;
}

/*Футер*/
.footer {
    background: #F2F2F2;
}
.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px 30px 50px;

}
.footer__info {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;   
}
.footer__top {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
/*Иконки*/

.important-btn__btn::before {
    display: inline-block;
    content: "";
    background: url(../icons/cart.svg) no-repeat;
    background-position: center center;
    width: 24px;
    height: 24px;
}
/*активные кнопки и кнопки при наведении*/
/*.btn_selected {
    border: 1px solid #F36223;
    outline: 1px solid #F36223;
    border-radius: 4px;
}*/
a:hover {
    color: #F36223;
}
a:active {
    color: #A93A09;
}

.important-btn__btn:hover, .form__btn:hover {
    background: #DA4A0C;
    cursor: pointer;
}
.important-btn__btn:active, .form__btn:active {
    background: #A93A09;
    cursor: pointer;
}
.characteristic__btn label:hover, .config__label:hover{
    background: #F2F2F2;
    border: 1px solid #888888;
    cursor: pointer;
}

/*.characteristic__btn label:active, .config__label:active {
    border: 1px solid #F36223;
    outline: 1px solid #F36223;
    border-radius: 4px;
}*/
.config__btn input[type=radio]:checked + label span{
	border: 1px solid #F36223;
    outline: 1px solid #F36223;
}
.config__btn input[type=radio]:active + label span{
	border: 1px solid #A93A09;
    outline: 1px solid #A93A09;
}
.characteristic__btn input[type=radio]:checked + label{
	border: 2px solid #f36223;
}.characteristic__btn input[type=radio]:active + label{
	border: 2px solid #A93A09;
}


 /*Для ширины экрана меньше 1500px*/
 @media (max-width: 1499px) {
    .content, .header__content {
        padding: 0 15px;
    }
    .mobile__image img {
        height: 272px;
    }
    .container {
        gap: 40px;
    }    
    .comparison-model {
        display: none;
    } 
    .adversiting__item{
        width: 360px;
    }
    .review__photo {
        width: 100px;
        height: 100px;
    }
    .form{
        padding-left: 0;
    }
    .separator {
        padding-left: 130px;
    }
    .footer__wrapper {
        padding: 30px 15px;
    }
    .review-rating__items label {
        height: 20px;
        width: 20px;
        background-size: cover;
    }
}
 /*Для ширины экрана меньше 600px*/
 @media (max-width: 600px) {
    .content  {
        max-width: 360px;
        padding: 0px 12px;
    }
    .header {
        height: 55px;
    }
    .logo {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        padding: 8px 0 10px 0;
    }
    .logo__image img{
        height: 30px;
    }
    .header__icon-link svg{
        width: 26px;
        height: 20px;
    }
    .header__icon-link {
        padding-right: 10px;
    }
    .header__icon-link-counter {
        left: calc(100% - 59px);
    }
    .header__icon_cart svg{
        width: 25px;
        height: 23px;
    }
    .breadcrumbs {
        flex-flow: row wrap;
        padding: 65px 0px 8px 0px;
    }
    .breadcrumbs__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
    .mobile__title {
        font-size: 24px;
    }
    .mobile__image {
        flex-wrap: nowrap;
    }
    .mobile__image-3, .mobile__image-4, .mobile__image-5 {
        display: none;
    }
    .container {
        flex-flow: column-reverse;
    }
    .characteristic__list {
        flex-flow: row wrap;
        gap: 8px;
    }
    .characteristic__btn label {
       width: 60px;
       height: 60px; 
    }
    .characteristic__btn img {
        height: 50px; 
    }
    .description__text, .functions__point {
        font-size: 14px;
    }
    .review__photo {
        position: absolute;
        width: 60px;
        height: 60px;
    }
    .review {
        position: relative;
    }
    .review__name, .review-rating {
        padding-left: 80px;
    }
    .form__data, .form__error {
        flex-direction: column;
        gap: 0;
    }
    .form__name, .error__name {
        width: 100%;
    }
    .form__rating, .error__rating {
        width: 100%;
    }
    .error__name, .error__rating {
        min-height: 15px;
    }
    .adversiting {
        display: none;
    }
    .footer__wrapper {
        padding: 20px 10px;
        flex-direction: column;
        align-items: flex-start;
    }
    .footer__info {
        padding-bottom: 20px;
    }
 }    
 
